body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  position: relative;
  width: 35em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input{
  width: 10em;
  height: 2em;
  text-align: center;
  font-size: large;
  border-color: #d2691e;
  margin-bottom: 1em;
  border-radius: 0.5em;
  color: #616A6B;
}

button{
  width: 9em;
  height: 3em;
  background-color: white;
  border-color: chocolate;
  border-radius: 0.3em;
  font-weight: bold;
  font-size: large;
  margin-top: 2em;
  color: #555555;
}

.title{
  font-size: xx-large;
  font-weight: 600;
  margin-top: -3em;
}

.question{
  font-size: large;
  font-weight: 500;
  color:#555555;
}

.current_streak{
  color: #B03A2E;
}

.longgest_streak{
  color: #616A6B;
}

.date_detail{
  margin-top: -1.5em;
  color: grey;
  font-size: small;
}

.border_round{
  border: solid;
  border-color: #616A6B;
  margin-left: 5em;
  margin-right: 5em;
  border-radius: 1em;
  color: #616A6B;
}

.history{
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

.box{
  margin-top: -0.5em;
  margin-bottom: -1.5em;
  margin-left: 1em;
  color: #616A6B;
  width: 10%;
}

.commit_border{
  border: solid;
  border-color: #616A6B;
  margin-left: 1em;
  border-radius: 1em;
  color: #616A6B;
}

.up50{
  margin-top: 45%;
}